
body{padding-top: 82px;}
/* Start header **/
header.sticky-h {box-shadow: 0 6px 12px -10px #349a37}

/* header {

} */

/** Start home page **/
#association-news-slider-1 .owl-stage, #association-news-slider .owl-stage, #association-news-slider-2 .owl-stage {
  padding: 2.5rem 0;
  padding-top: 1.5rem;
}
/* #association-news-slider-2 .owl-stage {
  padding-top: 20px;
  padding-bottom: 2.5rem;
  padding-top: 1.5rem;
} */
.common-shadow {
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  background-color: #fff;
}

                    /* Contact section */
.right-color::after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 5000px;
  top: 0;
  bottom: 0;
  left: 100%;
  background-color: #E4FFE585;
}
      /*** Start tabs system ***/
      .tabs-container .tab:not(:first-child){
        display: none;
      }
      /*** End tabs system ***/
      /**Start social media ***/
svg path, svg circle {transition: .2s;}
.facebook svg:hover path {fill: #4267B2;}
.facebook svg:hover circle {stroke: #4267B2;  }
.instagram svg:hover path {fill: #ffcb52;}
.instagram svg:hover circle {stroke: #ffcb52;}
.twitter svg:hover path {fill: #1DA1F2;}
.twitter svg:hover circle {stroke: #1DA1F2;}
.youtube svg:hover path {fill: #FF0000;}
.youtube svg:hover circle {stroke: #FF0000;}


.pinterest  svg:hover path {fill: #b7081b;}
.pinterest  svg:hover circle {stroke: #b7081b;}
.linkedin  svg:hover path {fill: #0A66C2;}
.linkedin  svg:hover circle {stroke: #0A66C2;}

      /**End social media ***/

      /* our strpes work section  */
.link-wrap::after {
  content: '';
  width: 0;
  height: 100%;
  background-color: #101426;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  transition: .4s;
}
.link-wrap:hover::after {
  width: 100%;
}
/** End home page **/












/******** Start dropdown style ***********/

.nav-item {
  position: relative;
  transition: all 200ms linear;
}

/* #Primary style
================================================== */

.bg-light {
  background-color: #fff !important;
  transition: all 200ms linear;
}

.section {
  position: relative;
  width: 100%;
  display: block;
}

.nav-item .dropdown-menu {
  transform: translate3d(0, 10px, 0);
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  display: block;
  padding: 0;
  margin: 0;
  transition: all 200ms linear;
}

[lang="en"] .nav-item .dropdown-menu {
  left: 0
}

.nav-item.show .dropdown-menu {
  opacity: 1;
  visibility: visible;
  max-height: 999px;
  transform: translate3d(0, 0px, 0);
}

.dropdown-menu {
  padding: 10px !important;
  margin: 0;
  font-size: 13px;
  color: #212121;
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  transition: all 200ms linear;
  position: static;
  float: none;
  width: 200px;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  padding: 3px 15px;
  color: #212121;
  border-radius: 2px;
  transition: all 200ms linear;
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  /* border: 0; */
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff;
  background-color: var(--dark-clr)
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-item .dropdown-menu {
  position: absolute;
  z-index: 99;
}





/* Start nav links in mobile */
.nav-links nav .nav-item > a{
  right: 0;
  transition: all 0.3s ease-out;
}
.nav-links.open nav .nav-item > a{
  right: 100%;

}

@media (max-width: 1280px) {

  .nav-links .rt-links nav .nav-item:nth-of-type(2) > a {transition-delay: 0.1s;}
  .nav-links .rt-links nav .nav-item:nth-of-type(3) > a {transition-delay: 0.2s;}
  .nav-links .rt-links nav .nav-item:nth-of-type(4) > a {transition-delay: 0.3s;}
  .nav-links .rt-links nav .nav-item:nth-of-type(5) > a {transition-delay: 0.4s;}
  .nav-links .rt-links nav .nav-item:nth-of-type(6) > a {transition-delay: 0.5s;}
  .nav-links .rt-links nav .nav-item:nth-of-type(7) > a {transition-delay: 0.6s;}
  .nav-links .rt-links nav .nav-item:nth-of-type(8) > a {transition-delay: 0.7s;}
  .nav-links .rt-links nav .nav-item:nth-of-type(9) > a {transition-delay: 0.8s;}

  /* .nav-links .lt-links nav .nav-item:nth-of-type(1) > a {transition-delay: 0.5s;}
  .nav-links .lt-links nav .nav-item:nth-of-type(2) > a {transition-delay: 0.6s;}
  .nav-links .lt-links nav .nav-item:nth-of-type(3) > a {transition-delay: 0.7s;}
  .nav-links .lt-links nav .nav-item:nth-of-type(4) > a {transition-delay: 0.8s;} */

}
/* End nav links in mobile*/


/** Start nav button style **/
.hamburger .hamburger__bar:after, .hamburger .hamburger__bar:before, .hamburger .hamburger__bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #349A37;
  position: absolute;
  left: 0;
  -moz-transition: all 300ms ease-in;
  -webkit-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hamburger.is-active .hamburger__bar:after, .hamburger.is-active .hamburger__bar:before {
  background: #101426;
}

.hamburger {
  width: 37px;
  height: auto;
  display: block;
}
.hamburger.is-active .hamburger__bar {
  background: transparent;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.hamburger.is-active .hamburger__bar:before {
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
}
.hamburger.is-active .hamburger__bar:after {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 0;
}
.hamburger .hamburger__bar {
  top: 50%;
  margin: -5px 0 0 0;
}
.hamburger .hamburger__bar:before {
  content: "";
  top: -12px;
}
.hamburger .hamburger__bar:after {
  content: "";
  bottom: -12px;
}
/** End nav button style **/

/*** Start my css framework ***/
.dots-style .owl-dots {text-align: center; margin-top: 25px;}
.dots-style .owl-dots .owl-dot{
  width: 16px;
  height: 16px;
  background-color: #CFE9FF;
  border-radius: 50%;
  margin: 0 2px;
}
.dots-style .owl-dots .owl-dot.active{
  background-color: #349A37;
}

.dots-style1 .owl-dots {text-align: center; margin-top: 25px;}
.dots-style1 .owl-dots .owl-dot{
  width: 16px;
  height: 16px;
  background-color: #CFE9FF;
  border-radius: 50%;
  margin: 12px 2px;
}
.dots-style1 .owl-dots .owl-dot.active{
  background-color: #349A37;
}

.inter-font {
  font-family: 'Inter', sans-serif;
}
/*** End my css framework ***/
